.Landing-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
    margin-left: 4%;
}


.Landig{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 430px) {
    .Landig {
        display: flex;
        flex-direction: column;
        
        margin-left: 4%;
    }
}


.Logo-azul {
    width: 300px; 
    height: auto; 
    margin-right: 45px; 
  }

@media (max-width: 430px) {
    .Logo-azul {
    width: 250px; 
    height: auto; 
    margin-right: 45px; 
    }
}
  
  .title-Landing {
    font-size: 6em; 
  }

  @media (max-width: 430px) {
    .title-Landing {
        font-size: 3em; 
    }
}
  
.p {
    margin-top: -5%;
    font-size: 150%;
  }
  
  @media (max-width: 430px) {
    .p {
        position: relative;
        font-size: 1em; 
    }
  }

.Flecha{
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-family: inherit; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    font-size: 130%;
  }
  @media (max-width: 430px) {
    .Flecha {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0px 15px;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 80%;
    }
  }

.Flecha img {
    margin-left: 5px; 
  }