.about-us {
    background-color: #E83D2E;
}

.main-title {
    font-size: 4rem;
    color: #FCF2E6;
    text-align: center;
    margin-bottom: 0;
    margin-top: 100px;
}

.sub-title {
    font-size: 1rem;
    font-weight: 400;
    color: #2E2A25;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.content,
.content-reversed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content {
    padding-left: 28px;
}

.content-reversed {
    flex-direction: row-reverse;
    padding-right: 28px;
}

.content-reversed button {
    margin-left: 17px;
}

.content button {
    margin-right: 17px;
}

.square {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.details {
    flex: 1;
    text-align: left;
    padding: 20px;
    margin-left: 30px;
}

.details-right {
    text-align: right;
    flex: 1;
    padding: 20px;
    margin-right: 30px;
}

.name {
    font-size: 40px;
    font-family: 'Misto', sans-serif;
    color: #FCF2E6;
    margin-top: 20px;
}

.tags {
    font-size: 1rem;
    color: #FCF2E6;
}

.rounded-button {
    font-family: 'Clash Display', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid #2E2A25;
    color: #2E2A25;
    padding: 14px 33px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px; /* Añadir margen inferior para separar los botones */
}

.rounded-button:hover {
    background-color: #2E2A25;
    color: #FCF2E6;
}
  
.selected {
    background-color: #2E2A25;
    color: #FCF2E6;
}

.blur-background {
    background: none;
    padding: 20px 0;
    margin-top: 20px;
}

.interest-box {
    font-size: 22px;
    color: #FCF2E6;
}

.description {
    font-size: 22px;
    color: #FCF2E6;
    line-height: 1.3;
}

.credential-text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.bottom-rectangle {
    background-color: #2E2A25;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rectangle-text {
    color: #FCF2E6;
    font-weight: 700;
    font-size: 120px;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 3rem;
        margin-top: 0;
    }
  
    .sub-title {
        font-size: 1rem;
    }
  
    .content,
    .content-reversed {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
  
    .square {
        width: 80vw;
        height: 80vw;
    }
  
    .details,
    .details-right {
        text-align: center;
        margin: 0;
        padding: 10px;
    }
  
    .name {
        font-size: 4rem;
    }
  
    .tags,
    .rounded-button {
        font-size: 1rem;
    }
  
    .interest-box,
    .description,
    .credential-text {
        font-size: 1rem;
    }
  
    .bottom-rectangle {
        height: 100px;
    }
  
    .rectangle-text {
        font-size: 6rem;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 40px; /* Convertido de 2.5rem a px */
        margin-top: 0;
    }
  
    .sub-title {
        font-size: 14.4px; /* Convertido de 0.9rem a px */
        margin-bottom: 10px;
    }
  
    .content,
    .content-reversed {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 20px;
    }
  
    .square {
        width: 90vw;
        height: 90vw;
    }
  
    .details,
    .details-right {
        text-align: center;
        margin: 0;
        padding: 10px;
    }

    .details .buttons,
    .details-right .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rounded-button {
        width: 80%;
        margin-bottom: 10px;
    }
  
    .name {
        font-size: 40px; /* Convertido de 2.5rem a px */
        margin-top: 10px;
    }
  
    .tags,
    .interest-box,
    .description,
    .credential-text {
        font-size: 14.4px; /* Convertido de 0.9rem a px */
    }

    .blur-background {
        margin-top: 10px;
    }

    .bottom-rectangle {
        height: 80px;
    }
  
    .rectangle-text {
        font-size: 64px; /* Convertido de 4rem a px */
    }
}
