

.menu-body {
  background-color: #2E2A25;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px;
  background-color:#2E2A25;
  color: white; /* Texto blanco */
}

.menu-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.menu-item {
  text-decoration: none;
  color: white;
  margin-right: -150%;
  margin-top: 10%;
  font-weight: normal;
}


.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: fixed; /* Fija la posición del botón */
  top: 20px;
  right: 30px;
}

.close-icon {
  width: 40px; /* Ajusta el tamaño de la imagen del botón de cierre */
}
