.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: 10px;  
    right: 10px; 
  }

  .delete-btn:hover .basura-icon {
    transform: scale(1.2);
    stroke: red;
  }

  .basura-icon {
    width: 30px;
    height: 30px;
  }
  