

.title-login{
  font-size: 500%;
  font-weight: 700;
  position: relative;
  transform: translate(22%, -136%);
  }

@media (max-width: 430px) {
    .title-login {
    font-size: 341%;
    font-weight: 700;
    position: relative;
    transform: translate(16%, -224%);

    }
}

.p-btn {
  display: flex;
  align-items: center;
  position: relative;
  transform: translate(20%, -420%);
  }

@media (max-width: 430px) {
    .p-btn {
      display: flex;
      align-items: center;
      position: relative;
      transform: translate(10%, -439%);
  
    }
}
  
  .sign-up-button {
    margin-left: 10px;
    font-size: 150%;
    font-weight: 700;
    color: #22A6F8;
    background-color: transparent;
    font-family: inherit;
    border: none;

  }

@media (max-width: 430px) {
    .sign-up-button {
      margin-left: 10px;
      font-size: 80%;
      font-weight: 700;
      color: #22A6F8;
      background-color: transparent;
      font-family: inherit;
      border: none;
    }
}

.LogIn-form-container {
    display: flex;
    border: 2px solid #000;
    padding: 20px;
    width: 85%;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }


  @media (max-width: 430px) {
    .LogIn-form-container {
    display: flex;
    border: 2px solid #000;
    padding: 20px;
    width: 73%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    }
}
  .input{
    margin-bottom: 20px;
  }
  
  input[type="password"],
  input[type="emailLogin"]{
    width: 96%;
    border: none;
    background-color: transparent;
    min-height: 50px;
    border-bottom: 1.5px solid #000; 
  }

  .input input::placeholder {
    font-size: 18px; /* Tamaño del texto del placeholder */
    color: #2E2A25; /* Color del texto del placeholder */
  }
  
  .login{
    width: 120px;
    height: 49px;
    cursor: pointer;
    border-color: #2E2A25;
    border-radius: 20px;
    font-size: 100%;
    background-color: transparent;
    font-family: inherit;
    position: relative;
    left: 47%;
  }

  @media (max-width: 430px) {
    .login {
    width: 120px;
    height: 39px;
    cursor: pointer;
    border-color: #2E2A25;
    border-radius: 20px;
    font-size: 80%;
    margin-top: 15%;
    top: 300%;
    background-color: transparent;
    font-family: inherit;
    position: relative;
    left: 27%;
    }
}
  .login-google{
    display: flex;
    position: relative;
    left: 40%;
    align-items: center;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
    border-color: #2E2A25;
    border-radius: 20px;
    font-size: 100%;
    background-color: transparent;
    font-family: inherit;
}

@media (max-width: 430px) {
  .login-google {
    display: flex;
    position: relative;
    left: 15%;
    align-items: center;
    width: 184px;
    height: 60px;
    margin-top: 20px;
    cursor: pointer;
    border-color: #2E2A25;
    border-radius: 20px;
    font-size: 80%;
    background-color: transparent;
    font-family: inherit;
  }
}

  
.google-icon {
    max-height: 50px;
    margin-right: 5px;
  }

  