.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  color: #2E2A25;
  position: fixed;
  top: 0;
  width: 94%;
  z-index: 1000;
  background-color: transparent;
}

@media (max-width:630px){
  .navbar{
    display: none;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  flex-grow: 0.3; /* Permite que los elementos ocupen todo el espacio disponible */
  font-size: larger;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.nav-item {
  text-decoration: none; /* Sin subrayado */
  color: #2E2A25; /* Color del texto */
  margin-right: 20px; /* Espacio entre enlaces */
  font-weight: normal; /* No negrita */
}

/* Estilo para el enlace activo */
.active-nav-item {
  font-weight: bold; /* Negrita para el enlace activo */
  text-decoration: underline; /* Subrayado para el enlace activo */
}

.btn {
  background-color: #2E2A25;
  color: #FCF2E6;
  border: none;
  padding: 8px 15px;
  border-radius: 31.5px;
  cursor: pointer;
  font-family: 'Clash Display',sans-serif;
  font-size: larger;
}
.btn:active,
.btn:focus {
  background-color: #22A6F8; /* Cambia el color de fondo al azul cuando el botón está activo (presionado) */
}

