.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  color: #2E2A25;
}

.footer-content {
  justify-content: center;
  align-items: center;
}

.footer-item {
  text-decoration: none;
  color: #2E2A25;
  margin: 0px 100px;
  font-weight: normal;
}