.footer {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Alinea verticalmente */
  padding: 30px 30px;
  color: #2E2A25;
  position: fixed;
  bottom: 0; /* Ubica el footer en la parte inferior de la pantalla */
  width: 100%; /* El footer debe ocupar todo el ancho */
  z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
  background-color: #FCF2E6; /* Color de fondo */
}

.footer-content { /* Una sección para el contenido del footer */
  display: flex;
  justify-content: center; /* Centra los elementos dentro del footer */
  align-items: center;
}

.footer-item {
  margin: 0 20px; /* Ajusta el margen horizontal */
  font-weight: bold;
  font-size: larger;
}


/* Estilo de los elementos del footer */
.footer-item1,
.footer-item2,
.footer-item3,
.footer-item4 {
  margin-right: 20px; /* Ajusta el margen entre los elementos */
  font-weight: bold; /* Resalta el texto */
}

.footer-button {
  background-color: #2E2A25;
  color: #FCF2E6;
  border: none;
  padding: 8px 15px;
  border-radius: 31.5px;
  cursor: pointer;
  font-family: 'Clash Display', sans-serif;
  font-size: larger;
}
