.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #2E2A25;
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
}

@media (max-width:630px){
  .navbar{
    display: none;
  }
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.3;
  font-size: larger;
}

.navbar-right {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.nav-item {
  text-decoration: none;
  color: #2E2A25;
  margin-right: 20px;
  font-weight: normal;
}

.active-nav-item {
  font-weight: bold;
  text-decoration: underline;
}

.btn {
  background-color: #2E2A25;
  color: #FCF2E6;
  border: none;
  padding: 8px 15px;
  border-radius: 31.5px;
  cursor: pointer;
  font-family: 'Clash Display',sans-serif;
  font-size: larger;
  margin: 10px;
}
.btn:active,
.btn:focus {
  background-color: #22A6F8;
}

.btn:hover{
  background-color: #22A6F8;
}
