:root {
  font-family: 'Clash Display', sans-serif; 
  font-size: larger;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2E2A25;
  background-color: #FCF2E6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Clash Display';
  src: url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
